@import "../Variables.scss";

.PlayButton{
  position: absolute;
  min-width:15vw;
  min-height: 10vh;
  left:50%;
  top:80%;
  transform: translate(-50%,-50%);
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: bold;

  @include respond (tab-land){
    top:85%;
  }

  @include respond (phone-land){
    top:94%;
    font-size: 16px;
    min-height: 5vh;
  }

  @include respond (phone-land-narrow){
    font-size: 14px;
    min-height: 4vh;
  }
}

.whiteButton{
  background-color: white;
  border-radius: 15px;
  border: 3px solid black;
  outline: none;
  cursor: pointer;
  transition: .1s;
  box-sizing: border-box;

  &:active{
    border: 5px solid black;
    @include respond (phone-land-narrow){
      border: 4px solid black;
    }
  }
}

.active{
  border: 5px solid black;
  @include respond (phone-land-narrow){
    border: 4px solid black;
  }
}

.velocityWrapper{
  position: absolute;
  top:13vh;
  left:2vh;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 18px;

  @include respond (phone){
    font-size:12px;
    left:0.5vh;
  }

  @include respond (phone-land){
    top:17vh;
    font-size:12px;
  }

  @include respond (phone-land-narrow){
    top:25vh;
    font-size:12px;
  }
}

.velocitySpanWrapper{
}

.velocityButtonsWrapper{
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include respond (phone){
    font-size:18px;
  }
}

.velocityButton{
  width:50px;
  height:50px;
  margin: 2vh 1vw 2vh 1vw;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size:45px;

  @include respond (phone){
    width:35px;
    height:35px;
    font-size:30px;
  }

  @include respond (phone-narrow){
    width:28px;
    height:28px;
    font-size:24px;
  }

  @include respond (phone-land){
    width:35px;
    height:35px;
    font-size:30px;
  }

  @include respond (phone-land-narrow){
    width:30px;
    height:30px;
    font-size:26px;
  }
}

.changeKeyboardWrapper{
  position: absolute;
  top:15vh;
  right:2vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.3;
  font-size: 18px;

  @include respond (phone){
    font-size: 12px;
    top:15vh;
    right:0.5vh;
  }

  @include respond (phone-narrow){
    font-size: 8px;
  }

  @include respond (phone-land){
    font-size: 12px;
    top:20vh;
  }

  @include respond (phone-land-narrow){
    top:27vh;
    font-size: 11px;
  }

}

.changeKeyboardButton{
  width:80px;
  height:50px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top:5px;

  @include respond (phone){
    width:60px;
    height:40px;
  }

  @include respond (phone-narrow){
    width:35px;
    height:35px;
    font-size: 8px;

  }

  @include respond (phone-land-narrow){
    width:50px;
    height:35px;
  }
}

.navButton{
  min-width:155px;
  min-height: 40px;
  position: relative;
  box-sizing: border-box;

  @include respond (phone){
    min-width:95px;
    width:95px;
  }

  @include respond(phone-land-narrow){
    min-width:120px;
    min-height: 30px;
  }

  @include respond(phone-narrow){
    min-width:70px;
    width:70px;
    min-height: 30px;
  }
}


