@import "../Variables.scss";

.pianoKey{
    min-width: $keyDesktop;
    min-height: 25vh;
    background-color: white;
    border:1px solid lightgray;
    border-radius: 6px;
    outline:none;
    box-shadow: 0 5px 0 0 lightgrey;
    transition: .1s;
    text-transform: uppercase;
    font-weight: bold;
    color:#222222;

  @include respond(tab-port){
    min-width: $keyTabPort;
  }

  @include respond(phone){
    min-width: $keyPhone;
  }

    &:active{
        transform: translateY(5px);
        box-shadow: 0 0 0 0 lightgrey;
    }
  }

button.pressed{
  transform: translateY(5px);
  box-shadow: 0 0 0 0 lightgrey;
}

