@import "../Variables.scss";

.animationLettersWrapper{
  display: flex;
  flex-direction: column-reverse;
  max-height:35vh;
  min-height:35vh;
  height: 35vh;
  overflow: hidden;
  font-size:5vh;

  @include respond (phone){
    max-height:40vh;
    min-height: 40vh
  }

  //@include respond (phone-land){
  //  max-height:40vh;
  //  min-height: 40vh
  //}
}

.animationLetter{
  padding:1vh;
  margin:0;
  line-height: 4vh;
  animation-timing-function: linear;
}

//Piraci z karaibów animation--------------------------------------------------------------------
.C.piraci{
  animation-name: CDownPiraci;
  @include respond(tab-port){animation-name: CDownTabPortPiraci;}
  @include respond(phone){animation-name: CDownPhonePiraci;}
}

.D.piraci{
  animation-name: DDownPiraci;
  @include respond(tab-port){animation-name: DDownTabPortPiraci;}
  @include respond(phone){animation-name: DDownPhonePiraci;}
}

.E.piraci{
  animation-name: EDownPiraci;
  @include respond(tab-port){animation-name: EDownTabPortPiraci;}
  @include respond(phone){animation-name: EDownPhonePiraci;}
}

.F.piraci{
  animation-name: FDownPiraci;
  @include respond(tab-port){animation-name: FDownTabPortPiraci;}
  @include respond(phone){animation-name: FDownPhonePiraci;}
}

.G.piraci{
  animation-name: GDownPiraci;
  @include respond(tab-port){animation-name: GDownTabPortPiraci;}
  @include respond(phone){animation-name: GDownPhonePiraci;}
}

.A.piraci{
  animation-name: ADownPiraci;
  @include respond(tab-port){animation-name: ADownTabPortPiraci;}
  @include respond(phone){animation-name: ADownPhonePiraci;}
}

.H.piraci{
  animation-name: HDownPiraci;
  @include respond(tab-port){animation-name: HDownTabPortPiraci;}
  @include respond(phone){animation-name: HDownPhonePiraci;}
}

//Old McDonald animation------------------------------------------------------------------------
.C.old{
  animation-name: CDownOld;
  @include respond(tab-port){animation-name: CDownTabPortOld;}
  @include respond(phone){animation-name: CDownPhoneOld;}
}

.D.old{
  animation-name: DDownOld;
  @include respond(tab-port){animation-name: DDownTabPortOld;}
  @include respond(phone){animation-name: DDownPhoneOld;}
}

.E.old{
  animation-name: EDownOld;
  @include respond(tab-port){animation-name: EDownTabPortOld;}
  @include respond(phone){animation-name: EDownPhoneOld;}
}

.F.old{
  animation-name: FDownOld;
  @include respond(tab-port){animation-name: FDownTabPortOld;}
  @include respond(phone){animation-name: FDownPhoneOld;}
}

.G.old{
  animation-name: GDownOld;
  @include respond(tab-port){animation-name: GDownTabPortOld;}
  @include respond(phone){animation-name: GDownPhoneOld;}
}

.A.old{
  animation-name: ADownOld;
  @include respond(tab-port){animation-name: ADownTabPortOld;}
  @include respond(phone){animation-name: ADownPhoneOld;}
}

.H.old{
  animation-name: HDownOld;
  @include respond(tab-port){animation-name: HDownTabPortOld;}
  @include respond(phone){animation-name: HDownPhoneOld;}
}

//Miała baba koguta animation------------------------------------------------------------------------
.C.baba{
  animation-name: CDownOld;
  @include respond(tab-port){animation-name: CDownTabPortOld;}
  @include respond(phone){animation-name: CDownPhoneOld;}
}

.D.baba{
  animation-name: DDownOld;
  @include respond(tab-port){animation-name: DDownTabPortOld;}
  @include respond(phone){animation-name: DDownPhoneOld;}
}

.E.baba{
  animation-name: EDownOld;
  @include respond(tab-port){animation-name: EDownTabPortOld;}
  @include respond(phone){animation-name: EDownPhoneOld;}
}

.F.baba{
  animation-name: FDownOld;
  @include respond(tab-port){animation-name: FDownTabPortOld;}
  @include respond(phone){animation-name: FDownPhoneOld;}
}

.G.baba{
  animation-name: GDownOld;
  @include respond(tab-port){animation-name: GDownTabPortOld;}
  @include respond(phone){animation-name: GDownPhoneOld;}
}

.A.baba{
  animation-name: ADownOld;
  @include respond(tab-port){animation-name: ADownTabPortOld;}
  @include respond(phone){animation-name: ADownPhoneOld;}
}

.H.baba{
  animation-name: HDownOld;
  @include respond(tab-port){animation-name: HDownTabPortOld;}
  @include respond(phone){animation-name: HDownPhoneOld;}
}


@include animateLettersBaba ()
@include animateLettersPiraci()
@include animateLettersOld()


