@import "../Variables.scss";

nav.main{
  display: block;

  ul{
    list-style-type: none;
    display: flex;
    width:100%;
    justify-content: space-around;
    height: 56px;
    min-width: 250px;

    @include respond (phone){
      height: 75px;
    }

    @include respond (phone-narrow){
      height: 63px;
    }

    @include respond (phone-land-narrow){
      height: 49px;
    }

    li{
      padding: 10px 0 5px 0;

      //@include respond (phone-land-narrow){
      //  padding: 5px 0 5px 0;
      //}

      a{
        font-family: 'Lobster Two', cursive;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color:black;
        padding:5px;
        margin:0;
        font-size:16px;

        @include respond (phone-land-narrow){
          padding:3px;
          font-size:14px;
        }

        @include respond(phone-narrow){
          font-size: 11px;
        }
      }
    }
  }

}