@import "../Variables.scss";

nav.main{
  display: block;

  ul{
    list-style-type: none;
    display: flex;
    width:100%;
    justify-content: space-around;
    height: 56px;

    @include respond (phone){
      height: 75px;
    }

    li{
      padding: 10px 0 5px 0;

      //@include respond (phone-land-narrow){
      //  padding: 5px 0 5px 0;
      //}

      a{
        font-family: 'Lobster Two', cursive;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color:black;
        padding:5px;
        margin:0;
      }
    }
  }

}