@import "../Variables.scss";

.animationLettersWrapper{
  display: flex;
  flex-direction: column-reverse;
  max-height:35vh;
  min-height: 35vh;
  height: 35vh;
  overflow: hidden;
  font-size:5vh;
}

.animationLetter{
  padding:1vh;
  margin:0;
  line-height: 4vh;
}

.C{
  animation-name: CDown;
  animation-timing-function: linear;
  @include respond(tab-port){animation-name: CDownTabPort;}
  @include respond(phone){animation-name: CDownPhone;}
}

.D{
  animation-name: DDown;
  animation-timing-function: linear;
  @include respond(tab-port){animation-name: DDownTabPort;}
  @include respond(phone){animation-name: DDownPhone;}
}

.E{
  animation-name: EDown;
  animation-timing-function: linear;
  @include respond(tab-port){animation-name: EDownTabPort;}
  @include respond(phone){animation-name: EDownPhone;}
}

.F{
  animation-name: FDown;
  animation-timing-function: linear;
  @include respond(tab-port){animation-name: FDownTabPort;}
  @include respond(phone){animation-name: FDownPhone;}
}

.G{
  animation-name: GDown;
  animation-timing-function: linear;
  @include respond(tab-port){animation-name: GDownTabPort;}
  @include respond(phone){animation-name: GDownPhone;}
}

.A{
  animation-name: ADown;
  animation-timing-function: linear;
  @include respond(tab-port){animation-name: ADownTabPort;}
  @include respond(phone){animation-name: ADownPhone;}
}

.H{
  animation-name: HDown;
  animation-timing-function: linear;
  @include respond(tab-port){animation-name: HDownTabPort;}
  @include respond(phone){animation-name: HDownPhone;}
}


@include animateLetters()

