@import "./Variables.scss";

html,body,ul, ul,a{
  overflow: hidden;
  margin:0;
  padding:0;
}

.app{
  position: fixed;
  left:0;
  top:0;
  height: 100vh;
  width:100vw;
  object-fit: cover;
  z-index:-1;
}

.keyboard{
  position:absolute;
  //left:50%;
  top:55%;
  transform: translateY(-50%);
  width:100%;
  text-align: center;

  @include respond (phone){
    top:65%;
  }

  @include respond (phone-land){
    top:65%;
  }
}

.songContainer{
  display: flex;
  flex-direction: column;
  align-items: center;

  .letter{
    letter-spacing: 5px;
  }
}

.backgroundImg{
  position: fixed;
  left:0;
  top:0;
  height: 100vh;
  width:90vw;
  object-fit: cover;
  opacity:0.15;
}





