@import "./Variables.scss";

html,body,ul, li,a{
  overflow: hidden;
  margin:0;
  padding:0;
}

.app{
  position: fixed;
  left:0;
  top:0;
  height: 100vh;
  width:100vw;
  object-fit: cover;
  z-index:-1;
}

.keyboard{
  position:absolute;
  //56px is menu height
  top: calc(56px + 35vh);
  width:100%;
  text-align: center;

  @include respond (phone){
    top: calc(75px + 35vh);
  }

  @include respond (phone-narrow){
    top: calc(63px + 35vh);
  }

  @include respond (phone-land-narrow){
    top: calc(49px + 35vh);
  }
}

.KeyboardOverlay{
  background-color: #f5f5f5;
  min-width: 7*$keyDesktop;
  width: 7*$keyDesktop;
  min-height: calc(25vh + 5px);
  text-align: center;
  left:50%;
  transform: translateX(-50%);
  opacity:.8;
  display:flex;
  align-items: center;
  justify-content: center;
  padding:15px;
  box-sizing: border-box;
  //line-height: 2.5;
  letter-spacing: 1.1px;
  word-spacing: 1.2px;
  font-size: 20px;
  font-family: 'Lobster Two', cursive;

  @include respond(tab-land){
    //line-height: 1.5;
  }

  @include respond(tab-port){
    min-width: 7*$keyTabPort;
    width: 7*$keyTabPort;
    font-size: 16px;
    line-height: 1.8;
  }

  @include respond(phone){
    min-width: 7*$keyPhone;
    width: 7*$keyPhone;
    line-height: 1.5;
  }

  @include respond(phone-land-narrow){
    padding:5px;
    line-height: 1.2;
    font-size: 14px;
  }

  @include respond(phone-narrow){
    padding:5px;
    line-height: 1.2;
    font-size: 14px;
  }

}

.songContainer{
  display: flex;
  flex-direction: column;
  align-items: center;

  .letter{
    letter-spacing: 5px;
  }
}

.backgroundImg{
  position: fixed;
  left:0;
  top:0;
  height: 100vh;
  width:90vw;
  object-fit: cover;
  opacity:0.15;
}





