@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 600px) { @content };
  }

  @if $breakpoint == phone-land {
    @media only screen and (max-height: 450px) { @content };
  }

  @if $breakpoint == tab-port {
    @media only screen and (max-width: 799px) { @content };
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 1000px) { @content };
  }
}

$keyDesktop:5vw;
$keyTabPort:10vw;
$keyPhone:10.5vw;
$lettersYdown:190vh;
$lettersYdownOld:150vh;
$lettersYdownBaba:150vh;
$lettersYup:-34vh;

$oldDuration:9000;
$babaDuration:11000;
$piraciDuration:9000;

:export {
  oldDuration:$oldDuration;
  babaDuration:$babaDuration;
  piraciDuration:$piraciDuration;
}


@mixin animateLettersBaba (){
  @keyframes CDownBaba {
    0%{transform: translate(-3*$keyDesktop, $lettersYup);}
    100%{transform: translate(-3*$keyDesktop, $lettersYdownBaba);}}

  @keyframes CDownTabPortBaba {
    0%{transform: translate(-3*$keyTabPort, $lettersYup);}
    100%{transform: translate(-3*$keyTabPort, $lettersYdownBaba);}}

  @keyframes CDownPhoneBaba {
    0%{transform: translate(-3*$keyPhone, $lettersYup);}
    100%{transform: translate(-3*$keyPhone, $lettersYdownBaba);}}

  @keyframes DDownBaba {
    0%{transform: translate(-2*$keyDesktop, $lettersYup);}
    100%{transform: translate(-2*$keyDesktop, $lettersYdownBaba);}}

  @keyframes DDownTabPortBaba {
    0%{transform: translate(-2*$keyTabPort, $lettersYup);}
    100%{transform: translate(-2*$keyTabPort, $lettersYdownBaba);}}

  @keyframes DDownPhoneBaba {
    0%{transform: translate(-2*$keyPhone, $lettersYup);}
    100%{transform: translate(-2*$keyPhone, $lettersYdownBaba);}}

  @keyframes EDownBaba {
    0%{transform: translate(-$keyDesktop, $lettersYup);}
    100%{transform: translate(-$keyDesktop, $lettersYdownBaba);}}

  @keyframes EDownTabPortBaba {
    0%{transform: translate(-$keyTabPort, $lettersYup);}
    100%{transform: translate(-$keyTabPort, $lettersYdownBaba);}}

  @keyframes EDownPhoneBaba {
    0%{transform: translate(-$keyPhone, $lettersYup);}
    100%{transform: translate(-$keyPhone, $lettersYdownBaba);}}

  @keyframes FDownBabaBaba {
    0%{transform: translate(0, $lettersYup);}
    100%{transform: translate(0, $lettersYdownBaba);}}

  @keyframes FDownTabPortBaba {
    0%{transform: translate(0, $lettersYup);}
    100%{transform: translate(0, $lettersYdownBaba);}}

  @keyframes FDownPhoneBaba {
    0%{transform: translate(0, $lettersYup);}
    100%{transform: translate(0, $lettersYdownBaba);}}

  @keyframes GDownBaba {
    0%{transform: translate($keyDesktop, $lettersYup);}
    100%{transform: translate($keyDesktop, $lettersYdownBaba);}}

  @keyframes GDownTabPortBaba {
    0%{transform: translate($keyTabPort, $lettersYup);}
    100%{transform: translate($keyTabPort, $lettersYdownBaba);}}

  @keyframes GDownPhoneBaba {
    0%{transform: translate($keyPhone, $lettersYup);}
    100%{transform: translate($keyPhone, $lettersYdownBaba);}}

  @keyframes ADownBaba {
    0%{transform: translate(2*$keyDesktop, $lettersYup);}
    100%{transform: translate(2*$keyDesktop, $lettersYdownBaba);}}

  @keyframes ADownTabPortBaba {
    0%{transform: translate(2*$keyTabPort, $lettersYup);}
    100%{transform: translate(2*$keyTabPort, $lettersYdownBaba);}}

  @keyframes ADownPhoneBaba {
    0%{transform: translate(2*$keyPhone, $lettersYup);}
    100%{transform: translate(2*$keyPhone, $lettersYdownBaba);}}

  @keyframes HDownBaba {
    0%{transform: translate(3*$keyDesktop, $lettersYup);}
    100%{transform: translate(3*$keyDesktop, $lettersYdownBaba);}}

  @keyframes HDownTabPortBaba {
    0%{transform: translate(3*$keyTabPort, $lettersYup);}
    100%{transform: translate(3*$keyTabPort, $lettersYdownBaba);}}

  @keyframes HDownPhoneBaba {
    0%{transform: translate(3*$keyPhone, $lettersYup);}
    100%{transform: translate(3*$keyPhone, $lettersYdownBaba);}}
}

@mixin animateLettersPiraci (){
  @keyframes CDownPiraci {
    0%{transform: translate(-3*$keyDesktop, $lettersYup);}
    100%{transform: translate(-3*$keyDesktop, $lettersYdown);}}

  @keyframes CDownTabPortPiraci {
    0%{transform: translate(-3*$keyTabPort, $lettersYup);}
    100%{transform: translate(-3*$keyTabPort, $lettersYdown);}}

  @keyframes CDownPhonePiraci {
    0%{transform: translate(-3*$keyPhone, $lettersYup);}
    100%{transform: translate(-3*$keyPhone, $lettersYdown);}}

  @keyframes DDownPiraci {
    0%{transform: translate(-2*$keyDesktop, $lettersYup);}
    100%{transform: translate(-2*$keyDesktop, $lettersYdown);}}

  @keyframes DDownTabPortPiraci {
    0%{transform: translate(-2*$keyTabPort, $lettersYup);}
    100%{transform: translate(-2*$keyTabPort, $lettersYdown);}}

  @keyframes DDownPhonePiraci {
    0%{transform: translate(-2*$keyPhone, $lettersYup);}
    100%{transform: translate(-2*$keyPhone, $lettersYdown);}}

  @keyframes EDownPiraci {
    0%{transform: translate(-$keyDesktop, $lettersYup);}
    100%{transform: translate(-$keyDesktop, $lettersYdown);}}

  @keyframes EDownTabPortPiraci {
    0%{transform: translate(-$keyTabPort, $lettersYup);}
    100%{transform: translate(-$keyTabPort, $lettersYdown);}}

  @keyframes EDownPhonePiraci {
    0%{transform: translate(-$keyPhone, $lettersYup);}
    100%{transform: translate(-$keyPhone, $lettersYdown);}}

  @keyframes FDownPiraci {
    0%{transform: translate(0, $lettersYup);}
    100%{transform: translate(0, $lettersYdown);}}

  @keyframes FDownTabPortPiraci {
    0%{transform: translate(0, $lettersYup);}
    100%{transform: translate(0, $lettersYdown);}}

  @keyframes FDownPhonePiraci {
    0%{transform: translate(0, $lettersYup);}
    100%{transform: translate(0, $lettersYdown);}}

  @keyframes GDownPiraci {
    0%{transform: translate($keyDesktop, $lettersYup);}
    100%{transform: translate($keyDesktop, $lettersYdown);}}

  @keyframes GDownTabPortPiraci {
    0%{transform: translate($keyTabPort, $lettersYup);}
    100%{transform: translate($keyTabPort, $lettersYdown);}}

  @keyframes GDownPhonePiraci {
    0%{transform: translate($keyPhone, $lettersYup);}
    100%{transform: translate($keyPhone, $lettersYdown);}}

  @keyframes ADownPiraci {
    0%{transform: translate(2*$keyDesktop, $lettersYup);}
    100%{transform: translate(2*$keyDesktop, $lettersYdown);}}

  @keyframes ADownTabPortPiraci {
    0%{transform: translate(2*$keyTabPort, $lettersYup);}
    100%{transform: translate(2*$keyTabPort, $lettersYdown);}}

  @keyframes ADownPhonePiraci {
    0%{transform: translate(2*$keyPhone, $lettersYup);}
    100%{transform: translate(2*$keyPhone, $lettersYdown);}}

  @keyframes HDownPiraci {
    0%{transform: translate(3*$keyDesktop, $lettersYup);}
    100%{transform: translate(3*$keyDesktop, $lettersYdown);}}

  @keyframes HDownTabPortPiraci {
    0%{transform: translate(3*$keyTabPort, $lettersYup);}
    100%{transform: translate(3*$keyTabPort, $lettersYdown);}}

  @keyframes HDownPhonePiraci {
    0%{transform: translate(3*$keyPhone, $lettersYup);}
    100%{transform: translate(3*$keyPhone, $lettersYdown);}}
}

@mixin animateLettersOld (){
  @keyframes CDownOld {
    0%{transform: translate(-3*$keyDesktop, $lettersYup);}
    100%{transform: translate(-3*$keyDesktop, $lettersYdownOld);}}

  @keyframes CDownTabPortOld {
    0%{transform: translate(-3*$keyTabPort, $lettersYup);}
    100%{transform: translate(-3*$keyTabPort, $lettersYdownOld);}}

  @keyframes CDownPhoneOld {
    0%{transform: translate(-3*$keyPhone, $lettersYup);}
    100%{transform: translate(-3*$keyPhone, $lettersYdownOld);}}

  @keyframes DDownOld {
    0%{transform: translate(-2*$keyDesktop, $lettersYup);}
    100%{transform: translate(-2*$keyDesktop, $lettersYdownOld);}}

  @keyframes DDownTabPortOld {
    0%{transform: translate(-2*$keyTabPort, $lettersYup);}
    100%{transform: translate(-2*$keyTabPort, $lettersYdownOld);}}

  @keyframes DDownPhoneOld {
    0%{transform: translate(-2*$keyPhone, $lettersYup);}
    100%{transform: translate(-2*$keyPhone, $lettersYdownOld);}}

  @keyframes EDownOld {
    0%{transform: translate(-$keyDesktop, $lettersYup);}
    100%{transform: translate(-$keyDesktop, $lettersYdownOld);}}

  @keyframes EDownTabPortOld {
    0%{transform: translate(-$keyTabPort, $lettersYup);}
    100%{transform: translate(-$keyTabPort, $lettersYdownOld);}}

  @keyframes EDownPhoneOld {
    0%{transform: translate(-$keyPhone, $lettersYup);}
    100%{transform: translate(-$keyPhone, $lettersYdownOld);}}

  @keyframes FDownOld {
    0%{transform: translate(0, $lettersYup);}
    100%{transform: translate(0, $lettersYdownOld);}}

  @keyframes FDownTabPortOld {
    0%{transform: translate(0, $lettersYup);}
    100%{transform: translate(0, $lettersYdownOld);}}

  @keyframes FDownPhoneOld {
    0%{transform: translate(0, $lettersYup);}
    100%{transform: translate(0, $lettersYdownOld);}}

  @keyframes GDownOld {
    0%{transform: translate($keyDesktop, $lettersYup);}
    100%{transform: translate($keyDesktop, $lettersYdownOld);}}

  @keyframes GDownTabPortOld {
    0%{transform: translate($keyTabPort, $lettersYup);}
    100%{transform: translate($keyTabPort, $lettersYdownOld);}}

  @keyframes GDownPhoneOld {
    0%{transform: translate($keyPhone, $lettersYup);}
    100%{transform: translate($keyPhone, $lettersYdownOld);}}

  @keyframes ADownOld {
    0%{transform: translate(2*$keyDesktop, $lettersYup);}
    100%{transform: translate(2*$keyDesktop, $lettersYdownOld);}}

  @keyframes ADownTabPortOld {
    0%{transform: translate(2*$keyTabPort, $lettersYup);}
    100%{transform: translate(2*$keyTabPort, $lettersYdownOld);}}

  @keyframes ADownPhoneOld {
    0%{transform: translate(2*$keyPhone, $lettersYup);}
    100%{transform: translate(2*$keyPhone, $lettersYdownOld);}}

  @keyframes HDownOld {
    0%{transform: translate(3*$keyDesktop, $lettersYup);}
    100%{transform: translate(3*$keyDesktop, $lettersYdownOld);}}

  @keyframes HDownTabPortOld {
    0%{transform: translate(3*$keyTabPort, $lettersYup);}
    100%{transform: translate(3*$keyTabPort, $lettersYdownOld);}}

  @keyframes HDownPhoneOld {
    0%{transform: translate(3*$keyPhone, $lettersYup);}
    100%{transform: translate(3*$keyPhone, $lettersYdownOld);}}
}